*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "diablo-ligth";
    font-weight: bold;
    font-size: 20px;
}

.imagen-fondo-personajes{
    display: block;
    box-shadow: 0 0 15px #5e4422;
    width: 100%;
    height: 45%;
    margin-bottom: 1%;
    opacity: 0.5;
    margin-top: 2%;
}

.texto-sobre-imagen{
    position: absolute;
}

.texto-sobre-imagen h1{
    font-size: 45px;
    color: #e4a772;
    text-shadow: 2px 2px 2px #243334;
}

.contenedor-personajes{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 50px);
}

.separador{
    display: flex;
    flex-direction: column;
    border: 2px solid #243334;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    background: #12110F;
}

.separador p{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.tabla-conjuntos ul{
    margin-top: 2%;
    margin-bottom: 2%;
}

.tabla-conjuntos ul li{
    margin-left: 15%;
    margin-top: 5px;
}

@media (width >= 768px){
    .imagen-preview{
        width: 450px;
        height: 350px;
    }

    .imagen-preview img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: box-shadow 0.3s;
    }
    
    .imagen-preview img:hover{
        box-shadow: 0 0 15px rgb(187, 97, 13);
    }

    .imagen-preview img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}   