.clases{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagen-pj{
    width: 250px;
    height: 150px;
}

#casadora{
    font-size: 24px;
}

.separador{
    display: flex;
    width: 250px;
    margin: 5px;
}

table, td, tr{
    border: solid 1px;
    border-collapse: collapse;
}

td, tr{
    background-color: #243334;
}



@media (width >= 768px){
    #menu{
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }

    #menu a{
        padding-right: 5px;
    }

    #cerrar{
        display: none;
    }

    #abrir{
        display: none;
    }
    
    .container-navegacion{
        border:1px solid;
        background-color:  #0F2627;
    }

    #menu-container{
        opacity: 1;
        visibility: visible;
        background-color:  #0F2627;
        border: none;
        box-shadow: none;
        position: inherit;
    }

    .contenedor-login{
        padding-top: 16px;
    }

}   