.espacios{
    margin: 1rem;
    padding: 10rem;
}

.vista-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.contenedor{
    border: 2px solid #243334;
    box-shadow: 0 0 15px rgb(187, 97, 13);
    background: #12110F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
}

.contenedor h2{
    text-align: center;
    font-size: 2rem;
    color: #d1b98d;
    padding-bottom: 15px;
}

.contenedor-imputs{
    position: relative;
    margin: 20px 0;
    width: 200px;
    border-bottom: 1px solid;
}

.contenedor-imputs label{
    position: absolute;
    top: 5%;
    left: 5px;
    color: #d1b98d;
    font-size: 1rem;
    pointer-events: none;
    transition: 0.6s;
    transform: translateY(-60%);
}

input:focus ~ label,
input:valid ~ label{
    top: -10px;
}

.contenedor-imputs input{
    width: 100%;
    height: 50%;
    background-color:transparent;
    border: none;
    outline: none;
    font-size: larger;
    color: #d1b98d;
    font-family: "Sedan SC", serif;
    padding: -35px 0 5px;
    margin: 7px;
}

.boton-acceder{
    margin-top: 5px;
    width: 100%;
    height: 45px;
    background: #d1b98d;
    border-radius: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;
    font-family: "diablo-ligth"; 
    font-weight: bold;
}

.boton-acceder:hover{
    opacity: 0.5;
}