@font-face {
    font-family: "diablo-ligth";
    src: url("../fonts/Diablo\ Light.ttf");
}
    
html{
    font-family: "Sedan SC", serif;
    background-color: #243334;
    color: #b19d78 ;
}   

.logo-juego{
    width: 250px;
    height: 150px;
}
/*posible error*/
.barra-navegacion{
   font-family: "diablo-ligth";
    display: flex;
    justify-content: space-between;
    display: none;
}

.open{
    display: block;
}

.contenedor-login{
    display: inline-block;
    padding-top: 13px;
    padding-right: 10px;
}

.contenedor-login a{
    color: #b19d78;
    text-decoration: none;
}

#menu{
    display: inline-block;
    padding-top: 0px;
    padding-left: 10px;
}

#menu li{
    list-style: none;
    padding: 3px;
}

#menu li a{
    color: #b19d78;
    text-decoration: none;
}


.img-fondo{
    display: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    list-style: none;
}
.separador{
    margin-bottom: 50%;
}
.bordes{
    border-bottom: 2px solid #b19d78 ;
    padding-bottom:2px ;
}

#boton{
    margin-right: 16px;
    height: 50px;
    background-color:#243334 ;
    font-weight: bold;
    color: #b19d78;
}

@media (width >= 768px){

    .img-fondo{
        display: block;
        width: 100%;
    }
    
    .container{
        display: flex;
        justify-content: left;
    }
    #menu{
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
    }
    .item{
        margin: opx 10px;
        padding: 15px ;
    }
    #boton{
        display: none;
    }
    .barra-navegacion{
        display: block;
    }
}