 
html{
    font-family: "Sedan SC", serif;
    background-color: #0F2627;
    color: #b19d78 ;
}   


.clases{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra{
   display: flex;
   justify-content: space-between;
}
.menu-container{
    display: none;
}
.menu-container.open{
    display: flex;
    justify-content: center;
}

#menu-pjs{
    display: inline-block;
    padding-top: 0px;
    padding-left: 10px;
}

#menu-pjs li{
    list-style: none;
    padding: 3px;
}

#menu-pjs a{
    color: #b19d78;
    list-style: none;
    text-decoration: none;
}

#btn-menu-pj{
    margin-left: 10px;
    margin-top: 10px;
    height: 20px;
    background-color:#243334 ;
    font-weight: bold;
    color: #b19d78;
}
   
.login{
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
}

.login a{
    color: #b19d78;
    text-decoration: none;
}
.imagen-pj{
    width: 250px;
    height: 150px;
}

#casadora{
    font-size: 24px;
}

.separador{
    display: flex;
    width: 250px;
}

table, td, tr{
    border: solid 1px;
    border-collapse: collapse;
}

td, tr{
    background-color: #0f1a27;
}



@media (width > 768){

}